.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.formInput{
  border: 1px solid black;
  width: 300px;
  margin: auto;
}

.nextButton{
  padding: 15px 32px;
  flex: auto;
}